/* Global styles */
:root {
    --primary-color: #1f2937; /* Dark Blue */
    --secondary-color: #f9faf8; /* Off White */
    --accent-color: #3882f6; /* Light Blue */
    --gray: #e5e7eb; /* Gray */
}
body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0;
}
h1 {
    margin: 0;
}





/* header styles */
header {
    background-color: var(--primary-color);
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav {
    font-size: 18px;
    display: flex;
    gap: 30px;
}
header h1 {
    font-size: 24px;
    color: var(--secondary-color);
}
nav a:link { /* stand out against bg */
    color: green;
}
nav a:visited {
    color: grey;
}





/* hero styles */
.hero {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 70px 150px;

    display: flex;
    justify-content: space-between;
}
.hero .hero-panel {
    max-width: 50%;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero p {
    font-size: 18px;
}
.hero img {
    max-width: 450px;
}
.hero button {
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
}





/* image-list styles */
.image-section {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 150px 150px 180px 150px;
}
.image-section h1 {
    font-size: 36px;
    color: var(--primary-color);
}
.image-section img {
    object-fit: cover; /* scaling maintains aspect ratio, cut overflowing content */
    height: 150px;
    width: 150px;
    border: 5px solid var(--accent-color);
    border-radius: 7px;
    margin: 10px auto;
}
.image-figures {
    display: flex;
    justify-content: center;
}
figcaption {
    color: grey;
}





/* quote styles */
.quote {
    background-color: var(--gray);
    padding: 150px 300px;
}
.quote p {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}
.quote h1 {
    text-align: right;
}













footer {
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
}